
.wrap
{
	width: 800px;
	height: 700px;
	margin: 30px auto;
}

table, th, td 
{  
  border: 1px solid black;  
  border-collapse: collapse;  
}  
th, td 
{  
  padding: 10px;  
}  
table#alter tr:nth-child(even) 
{  
  background-color: #eee;  
}  
table#alter tr:nth-child(odd) 
{  
  background-color: #fff;  
}  
table#alter th 
{  
  color: white;  
  background-color: gray;  
} 
.button
{
	text-align: center;
	font-size: 16px;
}
div 
{  
    margin: 20px;  
    padding: 50px;  
    background-color:#6abadeba;
  	width: 200px;  
    font-family: 'Arial';
	border:10px #6abadeba;  
} 

